[Unit]
Description=AFC EPICS IOC %i
After=network-online.target
Wants=network-online.target

[Service]
User=iocs

MemoryAccounting=yes

WorkingDirectory=/opt/afc-epics-ioc/iocBoot/iocutca
ExecStart=/opt/afc-epics-ioc/iocBoot/iocutca/run.sh %i
