[Unit]
Description=AFC EPICS IOC %i

[Service]
User=iocs

MemoryAccounting=yes

WorkingDirectory=/opt/afc-epics-ioc/iocBoot/iocutca
ExecStart=/opt/afc-epics-ioc/iocBoot/iocutca/run.sh %i
