[Unit]
Description=FOFB IOC %i

[Service]
User=iocs
Group=iocs

MemoryAccounting=yes

WorkingDirectory=/opt/erics/iocBoot/iocutca
ExecStart=/opt/erics/iocBoot/iocutca/runFOFB.sh %i
