# ACQ records

record (mbbo, "$(P)$(R)$(ACQ_NAME)DataType"){
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT))TYPE")
    field(PINI, "YES")
}

record(longout,"$(P)$(R)$(ACQ_NAME)SamplesPre-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of pre-trigger samples")
    field(DRVH,"$(NELM)")
    field(DRVL,"0")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))PRE_SAMPLES")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)SamplesPre-RB"){
    field(DESC,"Number of pre-trigger samples")
    field(INP, "$(P)$(R)$(ACQ_NAME)SamplesPre-SP CP")
}
record(longin,"$(P)$(R)$(ACQ_NAME)SamplesPre-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of pre-trigger samples in hw.")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))PRE_SAMPLES")
}

record(longout,"$(P)$(R)$(ACQ_NAME)SamplesPost-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of post-trigger samples")
    field(DRVH,"$(NELM)")
    field(DRVL,"0")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))POST_SAMPLES")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)SamplesPost-RB"){
    field(DESC,"Number of post-trigger samples")
    field(INP, "$(P)$(R)$(ACQ_NAME)SamplesPost-SP CP")
}
record(longin,"$(P)$(R)$(ACQ_NAME)SamplesPost-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of post-trigger samples in hw.")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))POST_SAMPLES")
}

record(calcout,"$(P)$(R)$(ACQ_NAME)SamplesTotalHIHI"){
    field(CALC,"$(NELM)+1")
    field(OUT,"$(P)$(R)$(ACQ_NAME)SamplesTotal-Mon.HIHI PP")
    field(PINI, YES)
}
record(calc,"$(P)$(R)$(ACQ_NAME)SamplesTotal-Mon"){
    field(DESC,"Total samples configured")
    field(INPA,"$(P)$(R)$(ACQ_NAME)SamplesPre-RB CP")
    field(INPB,"$(P)$(R)$(ACQ_NAME)SamplesPost-RB CP")
    field(CALC,"A+B")
    field(HHSV,"MAJOR")
}

record(longout,"$(P)$(R)$(ACQ_NAME)Shots-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of shots")
    field(DRVH,"100000")
    field(DRVL,"1")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))NB")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)Shots-RB"){
    field(DESC,"Number of shots")
    field(INP, "$(P)$(R)$(ACQ_NAME)Shots-SP CP")
}
record(longin,"$(P)$(R)$(ACQ_NAME)Shots-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"Number of shots in hw.")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))NB")
}

record(mbbo, "$(P)$(R)$(ACQ_NAME)Channel-Sel"){
    field(DTYP, "asynInt32")
    field(DESC, "Acquisition channel")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT))WHICH")
    field(PINI, "YES")
}
record(mbbi, "$(P)$(R)$(ACQ_NAME)Channel-Sts"){
    field(DTYP, "asynInt32")
    field(DESC, "Acquisition channel")
    field(INP,"@asyn($(PORT))WHICH_RB")
    field(SCAN,"I/O Intr")
}
record(mbbi, "$(P)$(R)$(ACQ_NAME)Channel-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "Acquisition channel in hw.")
    field(INP,"@asyn($(PORT))WHICH")
    field(SCAN,"I/O Intr")
}

record(mbbo, "$(P)$(R)$(ACQ_NAME)Trigger-Sel"){
    field(DTYP, "asynInt32")
    field(DESC, "Set acquisition trigger")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))TRIGGER")
    field(PINI, "YES")
}
record(mbbi, "$(P)$(R)$(ACQ_NAME)Trigger-Sts"){
    field(DTYP, "asynInt32")
    field(DESC, "Get acquisition trigger")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))TRIGGER")
}

record(mbbo, "$(P)$(R)$(ACQ_NAME)TriggerEvent-Cmd"){
    field(DTYP,"asynInt32")
    field(DESC,"Trigger acquisition event")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))EVENT")
}

record(mbbo, "$(P)$(R)$(ACQ_NAME)TriggerRep-Sel"){
    field(DTYP, "asynInt32")
    field(DESC, "Repetitive acquisitions")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))REPETITIVE")
    field(PINI, "YES")
}
record(mbbi, "$(P)$(R)$(ACQ_NAME)TriggerRep-Sts"){
    field(DTYP, "asynInt32")
    field(DESC, "Repetitive acquisitions")
    field(INP,"@asyn($(PORT))REPETITIVE")
    field(SCAN,"I/O Intr")
}

record(ao, "$(P)$(R)$(ACQ_NAME)UpdateTime-SP"){
    field(DTYP, "asynFloat64")
    field(DESC, "Set repetitive mode update time")
    field(SCAN,"Passive")
    field(EGU, "s")
    field(OUT,"@asyn($(PORT))UPDATE_TIME")
    field(PINI, "YES")
    field(DRVL, 0.001)
    field(DRVH, 100)
    field(PREC, 3)
}
record(ai, "$(P)$(R)$(ACQ_NAME)UpdateTime-RB"){
    field(DTYP, "asynFloat64")
    field(DESC, "Get repetitive mode update time")
    field(EGU, "s")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))UPDATE_TIME")
    field(PREC, 3)
}

record(longout,"$(P)$(R)$(ACQ_NAME)TriggerDataThres-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set data trigger threshold")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))TRIG_DATA_THRES")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)TriggerDataThres-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get data trigger threshold")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))TRIG_DATA_THRES")
}

record(bo,"$(P)$(R)$(ACQ_NAME)TriggerDataPol-Sel"){
    field(DTYP,"asynInt32")
    field(DESC,"set data trigger polarity")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))HW_TRIG_POL")
    field(PINI, "YES")
}
record(bi,"$(P)$(R)$(ACQ_NAME)TriggerDataPol-Sts"){
    field(DTYP,"asynInt32")
    field(DESC,"get data trigger polarity")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))HW_TRIG_POL")
}

record(longout,"$(P)$(R)$(ACQ_NAME)TriggerDataSel-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set data trigger selection")
    field(DRVH,"31")
    field(DRVL,"0")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))INT_TRIG_SEL")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)TriggerDataSel-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get data trigger selection")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))INT_TRIG_SEL")
}

record(longout,"$(P)$(R)$(ACQ_NAME)TriggerDataHyst-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set data trigger hysteresis")
    field(DRVH,"255")
    field(DRVL,"0")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))THRES_FILT")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)TriggerDataHyst-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get data trigger hysteresis")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))THRES_FILT")
}

record(longout,"$(P)$(R)$(ACQ_NAME)TriggerHwDly-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"Trigger delay")
    field(DRVH,"2147483647")
    field(DRVL,"0")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))TRIG_DLY")
    field(PINI, "YES")
}
record(longin,"$(P)$(R)$(ACQ_NAME)TriggerHwDly-RB"){
    field(DESC, "Trigger delay")
    field(INP, "$(P)$(R)$(ACQ_NAME)TriggerHwDly-SP CP")
}
record(longin,"$(P)$(R)$(ACQ_NAME)TriggerHwDly-Mon"){
    field(DTYP,"asynInt32")
    field(DESC, "Trigger delay in hw.")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))TRIG_DLY")
}

record(mbbo,"$(P)$(R)$(ACQ_NAME)DataTrigChan-Sel"){
    field(DTYP,"asynInt32")
    field(DESC,"set data-driven trigger channel")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT))DTRIG_WHICH")
    field(PINI, "YES")
}
record(mbbi,"$(P)$(R)$(ACQ_NAME)DataTrigChan-Sts"){
    field(DTYP,"asynInt32")
    field(DESC,"get data-driven trigger channel")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))DTRIG_WHICH")
}

record(mbbi,"$(P)$(R)$(ACQ_NAME)Status-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"get acquisition status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STATUS")
}

record(longin,"$(P)$(R)$(ACQ_NAME)Count-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"get acquisition count")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))COUNT")
}
