# AFC Timing global configuration

## read EVG FPGAClk value at startup.
## this works by using "closed_loop" OMSL,
## and we switch to "supervisory" after processing once
record(ao, "$(P)$(R)FPGAClk-Cte") {
    field(DESC, "FPGA Clock from EVG")
    field(EGU, "Hz")
    field(DOL, "AS-RaMO:TI-EVG:FPGAClk-Cte CP")
    field(OMSL, 1)
    field(FLNK, "$(P)$(R)DisableFPGAClk PP")
}
record(longout, "$(P)$(R)DisableFPGAClk"){
    field(VAL, 0)
    field(OUT, "$(P)$(R)FPGAClk-Cte.OMSL")
}

record(mbbi, "$(P)$(R)LinkStatus-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "Get link status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LINK")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"off")
    field(ONST,"on")
}

record(mbbi, "$(P)$(R)RxEnStatus-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "Get RX Enable Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_RXEN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"off")
    field(ONST,"on")
}

record(bi, "$(P)$(R)RefClkLocked-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "AFC Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_REFCLKLOCK")
    alias("$(P)$(R)AFCClkLocked-Mon")
}
record(bi, "$(P)$(R)RTMClkLocked-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "RTM Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LOCKED_RTM")
}
record(bi, "$(P)$(R)GT0ClkLocked-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "GT0 Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LOCKED_GT0")
}
record(bi, "$(P)$(R)AFCClkLockedLtc-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "AFC Latched Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LOCKED_AFC_LATCH")
}
record(bi, "$(P)$(R)RTMClkLockedLtc-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "RTM Latched Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LOCKED_RTM_LATCH")
}
record(bi, "$(P)$(R)GT0ClkLockedLtc-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "GT0 Latched Clock Locked Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))STA_LOCKED_GT0_LATCH")
}
record(bo, "$(P)$(R)ClkLockedLtcRst-Cmd"){
  field(DTYP, "asynInt32")
  field(DESC, "Reset Clock Locked Latches")
  field(OUT,"@asyn($(PORT))STA_LOCKED_RST_LATCH")
  field(MASK, "1")
  field(HIGH, "1")
  field(ZNAM, "nothing")
  field(ONAM, "reset")
}

record(bo, "$(P)$(R)DevEnbl-Sel"){
    field(DTYP, "asynInt32")
    field(DESC, "Event Receiver state control")
    field(PINI, YES)
    field(ZNAM, "Dsbl")
    field(ONAM, "Enbl")
    field(OUT,"@asyn($(PORT))STA_EVREN")
}

record(bi, "$(P)$(R)DevEnbl-Sts"){
    field(DTYP, "asynInt32")
    field(ZNAM, "Dsbl")
    field(ONAM, "Enbl")
    field(DESC, "Event Receiver state status")
    field(INP,"@asyn($(PORT))STA_EVREN")
    field(SCAN,"I/O Intr")
}

record(longin, "$(P)$(R)Alive-Mon"){
    field(DTYP, "asynInt32")
    field(DESC, "Alive free running counter")
    field(INP,"@asyn($(PORT))ALIVE")
    field(SCAN,"I/O Intr")
}
