record(bo,"$(P)$(R)ADCSi57xOe-Sel"){
    field(DTYP,"asynInt32")
    field(DESC,"set Si57x output enable")
    field(PINI,"YES")
    field(OUT,"@asyn($(PORT))SI571_OE")
    field(ZNAM,"disable")
    field(ONAM,"enable")
}
record(bi,"$(P)$(R)ADCSi57xOe-Sts"){
    field(DTYP,"asynInt32")
    field(DESC,"get Si57x output enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))SI571_OE")
    field(ZNAM,"disable")
    field(ONAM,"enable")
}


record(bo,"$(P)$(R)ADCAD9510PllFunc-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set ADC AD9510 PLL function")
    field(PINI,"YES")
    field(OUT,"@asyn($(PORT))PLL_FUNCTION")
    field(ZNAM,"nothing")
    field(ONAM,"reset")
}
record(bi,"$(P)$(R)ADCAD9510PllFunc-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get ADC AD9510 PLL function")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))PLL_FUNCTION")
    field(ZNAM,"nothing")
    field(ONAM,"reset")
}

record(bi,"$(P)$(R)ADCAD9510PllStatus-Mon"){
    field(DTYP,"asynInt32")
    field(DESC,"get ADC AD9510 PLL Status")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))PLL_STATUS")
    field(ZNAM,"not_locked")
    field(ONAM,"locked")
}

# combining state with fmc_adc_common
record(bi,"$(P)$(R)ClksLocked-Mon"){
    field(DESC, "state of PLL and MMCM clocks")
    field(ZNAM, "not_locked")
    field(ONAM, "locked")
}
record(calcout,"$(P)$(R)ClksLockedCalc"){
    field(ASG, "Readonly")
    field(INPA, "$(P)$(R)ADCAD9510PllStatus-Mon CP")
    field(INPB, "$(P)$(R)MMCMLocked-Mon CP")
    field(CALC, "A & B")
    field(OUT, "$(P)$(R)ClksLocked-Mon PP")
}

record(bo,"$(P)$(R)ADCClkSel-Sel"){
    field(DTYP,"asynInt32")
    field(DESC,"set ADC reference clock")
    field(PINI,"YES")
    field(OUT,"@asyn($(PORT))CLK_SEL")
    field(ZNAM,"external")
    field(ONAM,"fmc_conn")
}
record(bi,"$(P)$(R)ADCClkSel-Sts"){
    field(DTYP,"asynInt32")
    field(DESC,"get ADC reference clock")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT))CLK_SEL")
    field(ZNAM,"external")
    field(ONAM,"fmc_conn")
}
