# FOFB shaper filter records

record(aao, "$(S)$(RTM_CHAN)FOFBAccFilter-SP"){
    field(DESC, "FOFBAcc shaper filter")
    field(DTYP, "asynFloat64ArrayOut")
    field(PINI, YES)
    field(NELM, 50)
    field(FTVL, "DOUBLE")
    field(OUT, "@asyn($(PORT),$(ADDR))COEFF")
}
record(aai, "$(S)$(RTM_CHAN)FOFBAccFilter-RB"){
    field(DESC, "FOFBAcc shaper filter")
    field(DTYP, "asynFloat64ArrayIn")
    field(NELM, 50)
    field(FTVL, "DOUBLE")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR))COEFF")
}
