# RTMLAMP Data Records

record(aai, "$(S)$(RTM_CHAN)$(ACQ_NAME)CurrentRawData"){
    field(DTYP, "asynInt16ArrayIn")
    field(NELM, "$(NELM)")
    field(FTVL, "SHORT")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR))LAMP_I")
}
record(aai, "$(S)$(RTM_CHAN)$(ACQ_NAME)VoltageRawData"){
    field(DTYP, "asynInt16ArrayIn")
    field(NELM, "$(NELM)")
    field(FTVL, "SHORT")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR))LAMP_V")
}
