# System Identification per-channel records

record(ao,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)-SP"){
    field(DESC, "set $(PRBS_STATE) FOFBAcc distortion")
    field(EGU, "A")
    field(SCAN,"Passive")
    field(PINI,"YES")
    field(VAL, 0)
    field(DRVH,"0.95")
    field(DRVL,"-0.95")
}

record(calcout,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)Conv"){
    field(SCAN,"Passive")
    field(INPA,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)-SP CP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP CP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP CP")
    field(CALC,"A/B+C")
    field(OUT,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)Raw-SP PP")
}

record(longout, "$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)Raw-SP"){
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR))SP_DISTORT_$(LEVEL)")
}
record(longin, "$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)Raw-RB"){
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR))SP_DISTORT_$(LEVEL)")
}

record(calc,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)-RB"){
    field(DESC, "get $(PRBS_STATE) FOFBAcc distortion")
    field(EGU, "A")
    field(SCAN,"Passive")
    field(INPA,"$(S)$(RTM_CHAN)SYSIDPRBSFOFBAcc$(PRBS_STATE)Raw-RB CP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP CP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP CP")
    field(CALC,"B*(A-C)")
}
